
body {
	padding-top: 30px;
    background-image: url('../img/pattern.png');
}

#amount {
	width: 200px;	
}

.annulated {
	text-decoration: line-through;
}

.jumbotron {
	background-color: #428BCA;
	color: #FFF6E5; 
}